In [65]:
import os, sys
import pandas as pd
import numpy as np

In [66]:
os.listdir()

['.ipynb_checkpoints',
 '2019_4_2_02379003-6369-43bf-b444-842420685d06.csv',
 'Data preprocessing.ipynb']

In [67]:
read_data = pd.read_csv('2019_4_2_02379003-6369-43bf-b444-842420685d06.csv')

In [29]:
read_data.shape

(159596, 29)

In [30]:
read_data.columns

Index(['clientId', 'clientIncome', 'incomeVerified', 'clientAge',
       'clientGender', 'clientMaritalStatus', 'clientLoanPurpose',
       'clientResidentialStauts', 'clientState', 'clientTimeAtEmployer',
       'clientNumberPhoneContacts', 'clientAvgCallsPerDay', 'loanType',
       'loanNumber', 'applicationDate', 'approvalDate', 'declinedDate',
       'disbursementDate', 'payout_status', 'dueDate', 'paidAt', 'loanAmount',
       'interestRate', 'loanTerm', 'max_amount_taken', 'max_tenor_taken',
       'paymentRatio', 'FirstPaymentDefault', 'loanDefault'],
      dtype='object')

In [31]:
np.unique(read_data['loanDefault'])

array([0, 1], dtype=int64)

In [32]:
sum(read_data['loanDefault'])

44670

In [33]:
44670/159596

0.2798942329381689

In [34]:
read_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159596 entries, 0 to 159595
Data columns (total 29 columns):
clientId                     159596 non-null int64
clientIncome                 159596 non-null float64
incomeVerified               159596 non-null object
clientAge                    159596 non-null int64
clientGender                 159596 non-null object
clientMaritalStatus          159596 non-null object
clientLoanPurpose            159596 non-null object
clientResidentialStauts      159596 non-null object
clientState                  159596 non-null object
clientTimeAtEmployer         159596 non-null object
clientNumberPhoneContacts    159596 non-null object
clientAvgCallsPerDay         159596 non-null object
loanType                     159596 non-null object
loanNumber                   159596 non-null int64
applicationDate              159596 non-null object
approvalDate                 159596 non-null object
declinedDate                 159596 non-null object
disbursementDate             159596 non-null object
payout_status                159596 non-null object
dueDate                      159596 non-null object
paidAt                       159596 non-null object
loanAmount                   159596 non-null int64
interestRate                 159596 non-null float64
loanTerm                     159596 non-null int64
max_amount_taken             159596 non-null int64
max_tenor_taken              159596 non-null int64
paymentRatio                 159596 non-null float64
FirstPaymentDefault          159596 non-null int64
loanDefault                  159596 non-null int64
dtypes: float64(3), int64(9), object(17)
memory usage: 35.3+ MB

In [35]:
import sklearn

In [36]:
import sklearn.preprocessing as sp

In [37]:
read_data.head()

,clientId,clientIncome,incomeVerified,clientAge,clientGender,clientMaritalStatus,clientLoanPurpose,clientResidentialStauts,clientState,clientTimeAtEmployer,...,dueDate,paidAt,loanAmount,interestRate,loanTerm,max_amount_taken,max_tenor_taken,paymentRatio,FirstPaymentDefault,loanDefault
0,719046128,25000.00,true,38,FEMALE,Single,business,Rented,EKITI,36+,...,2018-09-14 04:38:34 UTC,2018-09-10 09:19:02 UTC,48000,7.5,180,1,1,0.0,1,0
1,821565030,105000.00,false,31,MALE,Married,house,Rented,OSUN,36+,...,2018-04-06 01:43:49 UTC,2018-01-22 08:12:58 UTC,31500,12.5,90,1,1,0.0,0,0
2,703822576,78029.19,true,38,MALE,Married,education,Family Owned,CROSS RIVER,36+,...,2018-10-23 11:02:13 UTC,Null,129500,5.0,180,1,1,0.0,0,1
3,103590131,35000.00,true,41,FEMALE,Single,education,Family Owned,LAGOS,36+,...,2018-12-12 03:17:05 UTC,2019-01-07 06:54:05 UTC,17500,12.5,90,1,1,0.0,0,1
4,663612175,350000.00,true,40,MALE,Married,business,Rented,BENUE,36+,...,2018-05-31 11:24:16 UTC,2018-05-28 12:43:53 UTC,132500,12.5,90,1,1,0.0,1,0

In [38]:
np.unique(read_data['clientMaritalStatus'])

array(['Divorced', 'Married', 'Null', 'Separated', 'Single', 'Widowed'], dtype=object)

In [39]:
read_data.columns

Index(['clientId', 'clientIncome', 'incomeVerified', 'clientAge',
       'clientGender', 'clientMaritalStatus', 'clientLoanPurpose',
       'clientResidentialStauts', 'clientState', 'clientTimeAtEmployer',
       'clientNumberPhoneContacts', 'clientAvgCallsPerDay', 'loanType',
       'loanNumber', 'applicationDate', 'approvalDate', 'declinedDate',
       'disbursementDate', 'payout_status', 'dueDate', 'paidAt', 'loanAmount',
       'interestRate', 'loanTerm', 'max_amount_taken', 'max_tenor_taken',
       'paymentRatio', 'FirstPaymentDefault', 'loanDefault'],
      dtype='object')

In [40]:
# get dummies (clientGender,clientState,)

In [41]:
def apply_dummies(col = 'default', data = None):
    gender_frame = pd.get_dummies(data[col])
    dataframe = data.drop(col, axis = 1)
    for k in gender_frame.columns:
        new_value = col + '_'+k
        dataframe[new_value] = gender_frame[k]
    return dataframe

frame = apply_dummies(col = 'clientGender', data = read_data)
frame.head()

,clientId,clientIncome,incomeVerified,clientAge,clientMaritalStatus,clientLoanPurpose,clientResidentialStauts,clientState,clientTimeAtEmployer,clientNumberPhoneContacts,...,loanAmount,interestRate,loanTerm,max_amount_taken,max_tenor_taken,paymentRatio,FirstPaymentDefault,loanDefault,clientGender_FEMALE,clientGender_MALE
0,719046128,25000.00,true,38,Single,business,Rented,EKITI,36+,2976,...,48000,7.5,180,1,1,0.0,1,0,1,0
1,821565030,105000.00,false,31,Married,house,Rented,OSUN,36+,1159,...,31500,12.5,90,1,1,0.0,0,0,0,1
2,703822576,78029.19,true,38,Married,education,Family Owned,CROSS RIVER,36+,1375,...,129500,5.0,180,1,1,0.0,0,1,0,1
3,103590131,35000.00,true,41,Single,education,Family Owned,LAGOS,36+,1632,...,17500,12.5,90,1,1,0.0,0,1,1,0
4,663612175,350000.00,true,40,Married,business,Rented,BENUE,36+,1971,...,132500,12.5,90,1,1,0.0,1,0,0,1

In [43]:
frame = apply_dummies(col = 'clientState', data = frame)
frame.head()

,clientId,clientIncome,incomeVerified,clientAge,clientMaritalStatus,clientLoanPurpose,clientResidentialStauts,clientTimeAtEmployer,clientNumberPhoneContacts,clientAvgCallsPerDay,...,clientState_OJO,clientState_ONDO,clientState_OSUN,clientState_OYO,clientState_PLATEAU,clientState_RIVERS,clientState_SOKOTO,clientState_TARABA,clientState_YOBE,clientState_ZAMFARA
0,719046128,25000.00,true,38,Single,business,Rented,36+,2976,51.40909090909091,...,0,0,0,0,0,0,0,0,0,0
1,821565030,105000.00,false,31,Married,house,Rented,36+,1159,121.03645833333333,...,0,0,1,0,0,0,0,0,0,0
2,703822576,78029.19,true,38,Married,education,Family Owned,36+,1375,13.402912621359222,...,0,0,0,0,0,0,0,0,0,0
3,103590131,35000.00,true,41,Single,education,Family Owned,36+,1632,178.0103896103896,...,0,0,0,0,0,0,0,0,0,0
4,663612175,350000.00,true,40,Married,business,Rented,36+,1971,31.976190476190474,...,0,0,0,0,0,0,0,0,0,0

In [45]:
# encode numeric(clientMaritalStatus,clientLoanPurpose,clientResidentialStauts,
# loanType)

In [47]:
frame['clientMaritalStatus'].unique()

array(['Single', 'Married', 'Separated', 'Null', 'Widowed', 'Divorced'], dtype=object)

In [48]:
frame['clientMaritalStatus'].value_counts()

Married      85492
Single       71361
Separated     1795
Widowed        939
Null             6
Divorced         3
Name: clientMaritalStatus, dtype: int64

In [49]:
frame['clientMaritalStatus'][frame['clientMaritalStatus'] == 'Null'] = 'Married'

C:\Users\INVENTAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
frame['clientMaritalStatus'].unique()

array(['Single', 'Married', 'Separated', 'Widowed', 'Divorced'], dtype=object)

In [51]:
frame = apply_dummies(col = 'clientMaritalStatus', data= frame)
frame.head()

,clientId,clientIncome,incomeVerified,clientAge,clientLoanPurpose,clientResidentialStauts,clientTimeAtEmployer,clientNumberPhoneContacts,clientAvgCallsPerDay,loanType,...,clientState_RIVERS,clientState_SOKOTO,clientState_TARABA,clientState_YOBE,clientState_ZAMFARA,clientMaritalStatus_Divorced,clientMaritalStatus_Married,clientMaritalStatus_Separated,clientMaritalStatus_Single,clientMaritalStatus_Widowed
0,719046128,25000.00,true,38,business,Rented,36+,2976,51.40909090909091,paylater,...,0,0,0,0,0,0,0,0,1,0
1,821565030,105000.00,false,31,house,Rented,36+,1159,121.03645833333333,paylater,...,0,0,0,0,0,0,1,0,0,0
2,703822576,78029.19,true,38,education,Family Owned,36+,1375,13.402912621359222,paylater,...,0,0,0,0,0,0,1,0,0,0
3,103590131,35000.00,true,41,education,Family Owned,36+,1632,178.0103896103896,paylater,...,0,0,0,0,0,0,0,0,1,0
4,663612175,350000.00,true,40,business,Rented,36+,1971,31.976190476190474,paylater,...,0,0,0,0,0,0,1,0,0,0

In [54]:
frame['incomeVerified'][frame['incomeVerified'] == 'true'] = 1
frame['incomeVerified'][frame['incomeVerified'] == 'false'] = 0

C:\Users\INVENTAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\INVENTAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [58]:
frame['clientLoanPurpose'].value_counts()

business     78976
other        31554
house        22240
education    15737
medical      11089
Name: clientLoanPurpose, dtype: int64

In [59]:
frame = apply_dummies(col = 'clientLoanPurpose', data= frame)
frame.head()

,clientId,clientIncome,incomeVerified,clientAge,clientResidentialStauts,clientTimeAtEmployer,clientNumberPhoneContacts,clientAvgCallsPerDay,loanType,loanNumber,...,clientMaritalStatus_Divorced,clientMaritalStatus_Married,clientMaritalStatus_Separated,clientMaritalStatus_Single,clientMaritalStatus_Widowed,clientLoanPurpose_business,clientLoanPurpose_education,clientLoanPurpose_house,clientLoanPurpose_medical,clientLoanPurpose_other
0,719046128,25000.00,1,38,Rented,36+,2976,51.40909090909091,paylater,4,...,0,0,0,1,0,1,0,0,0,0
1,821565030,105000.00,0,31,Rented,36+,1159,121.03645833333333,paylater,4,...,0,1,0,0,0,0,0,1,0,0
2,703822576,78029.19,1,38,Family Owned,36+,1375,13.402912621359222,paylater,4,...,0,1,0,0,0,0,1,0,0,0
3,103590131,35000.00,1,41,Family Owned,36+,1632,178.0103896103896,paylater,3,...,0,0,0,1,0,0,1,0,0,0
4,663612175,350000.00,1,40,Rented,36+,1971,31.976190476190474,paylater,2,...,0,1,0,0,0,1,0,0,0,0

In [60]:
frame['loanType'].unique()

array(['paylater'], dtype=object)

In [61]:
frame = frame.drop('loanType', axis = 1)

In [62]:
frame['clientResidentialStauts'].value_counts()

Rented               100534
Own Residence         26406
Family Owned          25668
Employer Provided      5589
Null                   1136
Temp. Residence         263
Name: clientResidentialStauts, dtype: int64

In [63]:
frame['clientResidentialStauts'][frame['clientResidentialStauts']== 'Null'] = 'Rented'
frame['clientResidentialStauts'].value_counts()

C:\Users\INVENTAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Rented               101670
Own Residence         26406
Family Owned          25668
Employer Provided      5589
Temp. Residence         263
Name: clientResidentialStauts, dtype: int64

In [64]:
def encode_numeric(col = 'default', data = None, unique_values = [None ,None]):
    for i,k in zip(range(len(unique_values)), unique_values):
        data[col][data[col] == k] = i
    return data[col]

In [ ]:
data = pd.get_dummies(read_data, prefix_sep = '_', columns = )