# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [1]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [2]:
# Add your code for Question 2 in this code block
arise_data = pd.read_csv('application_data.csv')
arise_data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [3]:
# convert to dates
from datetime import date
from datetime import datetime


#function to convert to datetime and replace the column with the same column but a datatype datetime64[ns]
def to_date_time(data):
    data_split = data.split('-')
    data_datetime = datetime(int(data_split[0]), int(data_split[1]), int(data_split[2]))
    return datetime.combine(data_datetime, datetime.min.time())

# applicationDate
arise_data['appilcationDate'] = arise_data['appilcationDate'].apply(to_date_time)


# repaymentDueDate
arise_data['repaymentDueDate'] = arise_data['repaymentDueDate'].apply(to_date_time)

# repaymentPaidDate
arise_data['repaymentPaidDate'] = arise_data['repaymentPaidDate'].apply(to_date_time)

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [4]:
# arise_data.info() will give us a summarized information of each column and their datatypes
arise_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
customerID           1000 non-null object
loanId               1000 non-null object
appilcationDate      1000 non-null datetime64[ns]
LoanNumber           1000 non-null int64
LoanAmount           1000 non-null float64
InterestRate         1000 non-null float64
TermDays             1000 non-null int64
repaymentDueDate     1000 non-null datetime64[ns]
repaymentPaidDate    1000 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 70.4+ KB

In [5]:
# data types
# 3 datetime datatypes, 2 floats, 2 int, and 2 strings = 4 unique data types
print('we have 4 unique data types contained within the application dataset')

we have 4 unique data types contained within the application dataset

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [6]:
# 2a avg loan amount
import numpy as np # import numpy for numeric math
average_loan_amount = np.sum(arise_data['LoanAmount'])/1000 # finding the average of loan amount
print('Average loan amount: %.2f'%(average_loan_amount))

Average loan amount: 13828.08

In [7]:
# 2b avg interest rate
average_interest_rate = np.sum(arise_data['InterestRate'])/1000 # finding the average of interest rate
print('Average interest rate: %.2f' %(average_interest_rate))

Average interest rate: 23.06

In [8]:
# 2c avg term days 
average_term_days = np.sum(arise_data['TermDays'])/1000 # finding the average of termdays
print('Average term days: %.2f'%(average_term_days))

Average term days: 42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [9]:
# number of loans more than 3 days late
# finding the difference between column repaymentPaidDate and repaymentDueDate
# setting the result to a new column dateDifference
arise_data['dateDifference'] = arise_data['repaymentPaidDate'] - arise_data['repaymentDueDate']

# function to count the number of loans that were paid more than 3 days late
def three_days_late(column):
    count = 0
    for i in range(arise_data.shape[0]):
        value = arise_data[column][i].__str__().split(' ')[0]
        if int(value) >3:
            count += 1
        else:
            pass
    return count
print('There are ',three_days_late('dateDifference'), ' number of loans that were paid more than 3 days late')

There are  145  number of loans that were paid more than 3 days late

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [10]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
# grouping by TermDays and finding the mean for each term days
arise_data.groupby(['TermDays']).mean()

          LoanNumber    LoanAmount  InterestRate
TermDays
15          2.628931   1274.088050     15.000000
30          2.137500   7941.964286     28.562143
45          1.100000  10706.250000     28.732500
60          4.800000  25710.526316     15.055789
90          4.709091  37672.727273     10.645455
120         1.000000  45055.555556     11.666667
180         6.285714  80988.095238      6.250000

In [11]:
# grouping by TermDays and finding the standard deviation for each term days

arise_data.groupby(['TermDays']).std()

          LoanNumber    LoanAmount  InterestRate
TermDays
15          1.712033   2885.967406      0.000000
30          2.059236   1606.039495      4.034005
45          0.341256   2346.143820      5.773965
60          4.939205  11559.646185      3.632352
90          2.891064  18050.140602      2.180963
120         0.000000  22192.966854      1.000000
180         3.808115  34612.222587      1.265152

In [12]:
print('The mean loan amount in 30-day loans is: %.2f'%(7941.964286))
print('the standard deviation of loan amount in 90-day loans: %.2f'%(18050.140602))

The mean loan amount in 30-day loans is: 7941.96
the standard deviation of loan amount in 90-day loans: 18050.14

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [27]:
import datetime # import datetime
import numpy as np #import numpy



def date_to_week(data): # this function is to break all applicationDate into week of the year
    value = data.__str__().split(' ')[0].split('-')
    return datetime.date(int(value[0]), int(value[1]), int(value[2])).isocalendar()[1]

# create new column 'week_year' which is the week each transaction is made
arise_data['week_year'] = arise_data['appilcationDate'].apply(date_to_week)



def get_average_no_week(week): # this function calculates the average number for any given week with due dates exceeding 3 days
    list_data = [] # all days exceeding 3 days and are in the week to be calculated gets appended to list_data
    counter = 0 
    for i in arise_data['week_year']: # looping through the week_year column
        if  i == week: # checking if week being considered is week 2 of the year
            value_int = int(arise_data['dateDifference'][counter].__str__().split(' ')[0]) # returns int from the timedelta datatype
            if value_int > 3: # checks if the date difference is more than 3 days
                list_data.append(value_int) # appends number of days to list_data
                counter += 1 # increment counter
            else:
                counter += 1 # increment counter
        else:
            counter += 1 #increment counter
    return sum(list_data)/len(list_data)

value = get_average_no_week(2)
print('The average number of days that late loans applied in the second week is: %.2f'%(value))

The average number of days that late loans applied in the second week is: 45.75

In [64]:
# week of year and average number of late days

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.