In [42]:
import os, sys
os.listdir()

['train.csv',
 'Variable_explanations.csv',
 '.ipynb_checkpoints',
 'sample_submission.csv',
 'data preprocessing.ipynb',
 'explain_data.txt',
 '__pycache__',
 'apply_my_module.py',
 'test.csv']

In [43]:
import pandas as pd
read_data = pd.read_csv('train.csv')

In [44]:
read_data.head()

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,926,91,23-Nov-61,1,28.0,1,4,6,10,0,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,5
1,747,57,24-Oct-61,1,23.0,1,3,5,8,0,...,0,0.0,1,4.804611,4.804611,0,0.000000,0,1,3
2,1190,115,05-Oct-61,1,22.0,1,3,5,9,0,...,0,0.0,0,8.007685,8.007685,1,0.000000,0,0,5
3,1065,97,23-Sep-61,1,27.0,1,2,4,10,2,...,0,0.0,0,0.000000,0.000000,1,1.249199,0,0,0
4,806,42,12-Sep-61,0,59.0,0,4,6,10,4,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3

In [45]:
read_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 75 columns):
surveyid                   1143 non-null int64
village                    1143 non-null int64
survey_date                1143 non-null object
femaleres                  1143 non-null int64
age                        1143 non-null float64
married                    1143 non-null int64
children                   1143 non-null int64
hhsize                     1143 non-null int64
edu                        1143 non-null int64
hh_children                1143 non-null int64
hh_totalmembers            809 non-null float64
cons_nondurable            1143 non-null float64
asset_livestock            1143 non-null float64
asset_durable              1143 non-null float64
asset_phone                1143 non-null float64
asset_savings              1143 non-null float64
asset_land_owned_total     1143 non-null float64
asset_niceroof             1143 non-null int64
cons_allfood               1143 non-null float64
cons_ownfood               1143 non-null float64
cons_alcohol               1100 non-null float64
cons_tobacco               1123 non-null float64
cons_med_total             1143 non-null float64
cons_med_children          724 non-null float64
cons_ed                    1143 non-null float64
cons_social                1143 non-null float64
cons_other                 1143 non-null float64
ent_wagelabor              1143 non-null int64
ent_ownfarm                1143 non-null int64
ent_business               1143 non-null int64
ent_nonagbusiness          1143 non-null int64
ent_employees              1143 non-null int64
ent_nonag_revenue          1143 non-null float64
ent_nonag_flowcost         1143 non-null float64
ent_farmrevenue            1143 non-null float64
ent_farmexpenses           1143 non-null float64
ent_animalstockrev         1143 non-null float64
ent_total_cost             1143 non-null float64
fs_adskipm_often           1143 non-null float64
fs_adwholed_often          1143 non-null float64
fs_chskipm_often           727 non-null float64
fs_chwholed_often          727 non-null float64
fs_meat                    809 non-null float64
fs_enoughtom               809 non-null float64
fs_sleephun                809 non-null float64
med_expenses_hh_ep         450 non-null float64
med_expenses_sp_ep         265 non-null float64
med_expenses_child_ep      543 non-null float64
med_portion_sickinjured    809 non-null float64
med_port_sick_child        727 non-null float64
med_afford_port            720 non-null float64
med_sickdays_hhave         809 non-null float64
med_healthconsult          720 non-null float64
med_vacc_newborns          1143 non-null int64
med_child_check            1143 non-null int64
med_u5_deaths              59 non-null float64
ed_expenses                680 non-null float64
ed_expenses_perkid         680 non-null float64
ed_schoolattend            680 non-null float64
ed_sch_missedpc            676 non-null float64
ed_work_act_pc             572 non-null float64
labor_primary              1143 non-null int64
wage_expenditures          1143 non-null int64
durable_investment         1143 non-null float64
nondurable_investment      1143 non-null float64
given_mpesa                1143 non-null int64
amount_given_mpesa         1143 non-null float64
received_mpesa             1143 non-null int64
amount_received_mpesa      1143 non-null float64
net_mpesa                  1143 non-null float64
saved_mpesa                1143 non-null int64
amount_saved_mpesa         1143 non-null float64
early_survey               1143 non-null int64
depressed                  1143 non-null int64
day_of_week                1143 non-null int64
dtypes: float64(50), int64(24), object(1)
memory usage: 669.8+ KB

In [46]:
sum(read_data['surveyid'].isnull())

0

In [47]:
weak_data = []
for data in read_data.keys():
    if sum(read_data[data].isnull()) == 0:
        pass
    else:
        weak_data.append(data)
        read_data = read_data.drop(data, axis = 1)

In [48]:
read_data.shape

(1143, 52)

In [8]:
read_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 52 columns):
surveyid                  1143 non-null int64
village                   1143 non-null int64
survey_date               1143 non-null object
femaleres                 1143 non-null int64
age                       1143 non-null float64
married                   1143 non-null int64
children                  1143 non-null int64
hhsize                    1143 non-null int64
edu                       1143 non-null int64
hh_children               1143 non-null int64
cons_nondurable           1143 non-null float64
asset_livestock           1143 non-null float64
asset_durable             1143 non-null float64
asset_phone               1143 non-null float64
asset_savings             1143 non-null float64
asset_land_owned_total    1143 non-null float64
asset_niceroof            1143 non-null int64
cons_allfood              1143 non-null float64
cons_ownfood              1143 non-null float64
cons_med_total            1143 non-null float64
cons_ed                   1143 non-null float64
cons_social               1143 non-null float64
cons_other                1143 non-null float64
ent_wagelabor             1143 non-null int64
ent_ownfarm               1143 non-null int64
ent_business              1143 non-null int64
ent_nonagbusiness         1143 non-null int64
ent_employees             1143 non-null int64
ent_nonag_revenue         1143 non-null float64
ent_nonag_flowcost        1143 non-null float64
ent_farmrevenue           1143 non-null float64
ent_farmexpenses          1143 non-null float64
ent_animalstockrev        1143 non-null float64
ent_total_cost            1143 non-null float64
fs_adskipm_often          1143 non-null float64
fs_adwholed_often         1143 non-null float64
med_vacc_newborns         1143 non-null int64
med_child_check           1143 non-null int64
labor_primary             1143 non-null int64
wage_expenditures         1143 non-null int64
durable_investment        1143 non-null float64
nondurable_investment     1143 non-null float64
given_mpesa               1143 non-null int64
amount_given_mpesa        1143 non-null float64
received_mpesa            1143 non-null int64
amount_received_mpesa     1143 non-null float64
net_mpesa                 1143 non-null float64
saved_mpesa               1143 non-null int64
amount_saved_mpesa        1143 non-null float64
early_survey              1143 non-null int64
depressed                 1143 non-null int64
day_of_week               1143 non-null int64
dtypes: float64(27), int64(24), object(1)
memory usage: 464.4+ KB

In [9]:
from apply_my_module import apply_module
categorical_data = []
none_categorical_data = []
for key in read_data.columns:
    if apply_module.check_if_categorical(read_data[key])  == True:
        categorical_data.append(key)
    else:
        none_categorical_data.append(key)
print(categorical_data)

['surveyid', 'village', 'survey_date', 'femaleres', 'age', 'married', 'children', 'hhsize', 'edu', 'hh_children', 'cons_nondurable', 'asset_livestock', 'asset_durable', 'asset_phone', 'asset_savings', 'asset_land_owned_total', 'asset_niceroof', 'cons_allfood', 'cons_ownfood', 'cons_med_total', 'cons_ed', 'cons_social', 'cons_other', 'ent_wagelabor', 'ent_ownfarm', 'ent_business', 'ent_nonagbusiness', 'ent_employees', 'ent_nonag_revenue', 'ent_nonag_flowcost', 'ent_farmrevenue', 'ent_farmexpenses', 'ent_animalstockrev', 'ent_total_cost', 'fs_adskipm_often', 'fs_adwholed_often', 'med_vacc_newborns', 'med_child_check', 'labor_primary', 'wage_expenditures', 'durable_investment', 'nondurable_investment', 'given_mpesa', 'amount_given_mpesa', 'received_mpesa', 'amount_received_mpesa', 'net_mpesa', 'saved_mpesa', 'amount_saved_mpesa', 'early_survey', 'depressed', 'day_of_week']

In [16]:
# print the none float columns for encoding
from importlib import reload
import apply_my_module
from apply_my_module import apply_module
reload(apply_my_module)
for key in read_data.columns:
    value = apply_module.check_if_float_or_int(read_data[key])
    if value == True:
        pass
    else:
        print(key, value)
print(read_data.shape)

survey_date False
(1143, 52)

In [23]:
# check if categorical or ordinal
from importlib import reload
import apply_my_module
from apply_my_module import apply_module
reload(apply_my_module)

apply_module._is_cat_ordinal(read_data['survey_date'])

(False, 180)

In [24]:
read_data = read_data.drop('survey_date', axis = 1)

In [25]:
read_data.head()

,surveyid,village,femaleres,age,married,children,hhsize,edu,hh_children,cons_nondurable,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,926,91,1,28.0,1,4,6,10,0,0.00000,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,5
1,747,57,1,23.0,1,3,5,8,0,0.00000,...,0,0.0,1,4.804611,4.804611,0,0.000000,0,1,3
2,1190,115,1,22.0,1,3,5,9,0,0.00000,...,0,0.0,0,8.007685,8.007685,1,0.000000,0,0,5
3,1065,97,1,27.0,1,2,4,10,2,378.83292,...,0,0.0,0,0.000000,0.000000,1,1.249199,0,0,0
4,806,42,0,59.0,0,4,6,10,4,258.67188,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3

In [26]:
'depression' in read_data.keys()

False

In [27]:
read_data['depressed'].value_counts()

0    950
1    193
Name: depressed, dtype: int64

In [28]:
y = read_data['depressed']
X = read_data.drop('depressed', axis = 1)

In [29]:
X.shape, y.shape

((1143, 50), (1143,))

In [32]:
from importlib import reload
import apply_my_module
reload(apply_my_module)
from apply_my_module import preprocessor

x_train, x_test, y_train, y_test = preprocessor.apply_validation(X,y, train_size = 0.70, random_state = 42)

/home/odemakinde/cd/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2010: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [33]:
# scale my data

x_train = preprocessor.apply_scale(x_train)
x_test = preprocessor.apply_scale(x_test)

In [127]:
x_train.shape

(800, 50)

In [131]:
from sklearn.svm import SVC

svc = SVC(C = 1.0, kernel = 'sigmoid')
svc.fit(x_train, y_train)
train_score = svc.score(x_train, y_train)
test_predict = svc.predict(x_test)
test_score = accuracy_score(test_predict, y_test)
print(train_score, test_score)

0.84375 0.8017492711370262

In [132]:
for c in [0.0001, 0.001,0.01,0.1,1, 10, 100]:
    svc = SVC(C = c, kernel = 'sigmoid')
    svc.fit(x_train, y_train)
    train_score = svc.score(x_train, y_train)
    test_predict = svc.predict(x_test)
    test_score = accuracy_score(test_predict, y_test)
    print(train_score, test_score)

0.84375 0.8017492711370262
0.84375 0.8017492711370262
0.84375 0.8017492711370262
0.84375 0.8017492711370262
0.84375 0.8017492711370262
0.84375 0.8017492711370262
0.84375 0.8017492711370262

In [34]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 4)
knn.fit(x_train, y_train)
knn.score(x_train, y_train)

0.85

In [35]:
test_predict = knn.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(test_predict, y_test)

0.7959183673469388

In [36]:
test_data = pd.read_csv('test.csv')

In [38]:
test_data.shape

(286, 75)

In [49]:
test_data = test_data.drop(weak_data, axis = 1)

In [50]:
test_data.shape

(286, 52)

In [51]:
test_data = test_data.drop('survey_date', axis = 1)

In [52]:
'depressed' in test_data.keys()

True

In [53]:
predict_data = test_data.drop('depressed', axis = 1)

In [54]:
predict_data.shape

(286, 50)

In [56]:
predict_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 50 columns):
surveyid                  286 non-null int64
village                   286 non-null int64
femaleres                 286 non-null int64
age                       285 non-null object
married                   286 non-null int64
children                  286 non-null int64
hhsize                    286 non-null int64
edu                       286 non-null int64
hh_children               286 non-null int64
cons_nondurable           286 non-null float64
asset_livestock           286 non-null float64
asset_durable             286 non-null float64
asset_phone               286 non-null float64
asset_savings             286 non-null float64
asset_land_owned_total    286 non-null float64
asset_niceroof            286 non-null int64
cons_allfood              286 non-null float64
cons_ownfood              286 non-null float64
cons_med_total            286 non-null float64
cons_ed                   286 non-null float64
cons_social               286 non-null float64
cons_other                286 non-null float64
ent_wagelabor             286 non-null int64
ent_ownfarm               286 non-null int64
ent_business              286 non-null int64
ent_nonagbusiness         286 non-null int64
ent_employees             286 non-null int64
ent_nonag_revenue         286 non-null float64
ent_nonag_flowcost        286 non-null float64
ent_farmrevenue           286 non-null float64
ent_farmexpenses          286 non-null float64
ent_animalstockrev        286 non-null float64
ent_total_cost            286 non-null float64
fs_adskipm_often          286 non-null float64
fs_adwholed_often         286 non-null float64
med_vacc_newborns         286 non-null int64
med_child_check           286 non-null int64
labor_primary             286 non-null int64
wage_expenditures         286 non-null int64
durable_investment        286 non-null float64
nondurable_investment     286 non-null float64
given_mpesa               286 non-null int64
amount_given_mpesa        286 non-null float64
received_mpesa            286 non-null int64
amount_received_mpesa     286 non-null float64
net_mpesa                 286 non-null float64
saved_mpesa               286 non-null int64
amount_saved_mpesa        286 non-null float64
early_survey              286 non-null int64
day_of_week               286 non-null int64
dtypes: float64(26), int64(23), object(1)
memory usage: 111.8+ KB

In [68]:
import numpy as np
data = predict_data['age']
try:
    count = 0
    for key in data:
        data[count] = int(key)
        count += 1
except:
    data[count] = 54
    count += 1

/home/odemakinde/cd/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/odemakinde/cd/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [69]:
find_data = predict_data
find_data['age'] = data

In [70]:
find_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 50 columns):
surveyid                  286 non-null int64
village                   286 non-null int64
femaleres                 286 non-null int64
age                       285 non-null object
married                   286 non-null int64
children                  286 non-null int64
hhsize                    286 non-null int64
edu                       286 non-null int64
hh_children               286 non-null int64
cons_nondurable           286 non-null float64
asset_livestock           286 non-null float64
asset_durable             286 non-null float64
asset_phone               286 non-null float64
asset_savings             286 non-null float64
asset_land_owned_total    286 non-null float64
asset_niceroof            286 non-null int64
cons_allfood              286 non-null float64
cons_ownfood              286 non-null float64
cons_med_total            286 non-null float64
cons_ed                   286 non-null float64
cons_social               286 non-null float64
cons_other                286 non-null float64
ent_wagelabor             286 non-null int64
ent_ownfarm               286 non-null int64
ent_business              286 non-null int64
ent_nonagbusiness         286 non-null int64
ent_employees             286 non-null int64
ent_nonag_revenue         286 non-null float64
ent_nonag_flowcost        286 non-null float64
ent_farmrevenue           286 non-null float64
ent_farmexpenses          286 non-null float64
ent_animalstockrev        286 non-null float64
ent_total_cost            286 non-null float64
fs_adskipm_often          286 non-null float64
fs_adwholed_often         286 non-null float64
med_vacc_newborns         286 non-null int64
med_child_check           286 non-null int64
labor_primary             286 non-null int64
wage_expenditures         286 non-null int64
durable_investment        286 non-null float64
nondurable_investment     286 non-null float64
given_mpesa               286 non-null int64
amount_given_mpesa        286 non-null float64
received_mpesa            286 non-null int64
amount_received_mpesa     286 non-null float64
net_mpesa                 286 non-null float64
saved_mpesa               286 non-null int64
amount_saved_mpesa        286 non-null float64
early_survey              286 non-null int64
day_of_week               286 non-null int64
dtypes: float64(26), int64(23), object(1)
memory usage: 111.8+ KB

In [99]:
count = 0
for key in predict_data['age']:
    if key == '.d':
        print(count)
        count += 1
    else:
        pass
        count+= 1

81

In [102]:
predict_data['age'].mode()

0    25
dtype: object

In [103]:
predict_data['age'][81] = 25

/home/odemakinde/cd/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [114]:
count = 0
for key in predict_data['age'].isnull():
    if key == True:
        print(key, count)
        count += 1
        
    else:
        pass
        count += 1

True 35

In [116]:
predict_data['age'][35] = 25

/home/odemakinde/cd/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [119]:
predict_data['age'] = predict_data['age'].astype('float32')

In [120]:
mean_train = preprocessor.apply_scale(predict_data)

In [134]:
predicted_data = knn.predict(mean_train)
svc_predicted_data = svc.predict(mean_train)

In [122]:
predicted_data

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [123]:
surveyid = find_data['surveyid']

In [124]:
len(surveyid), len(predicted_data)

(286, 286)

In [126]:
dict_knn = {'depressed':predicted_data,'surveyid': surveyid}
sub_knn = pd.DataFrame(dict_knn)
sub_knn.to_csv('knn_solution.csv')

In [135]:
dict_svc = {'depressed':svc_predicted_data,'surveyid': surveyid}
sub_svc = pd.DataFrame(dict_svc)
sub_svc.to_csv('svc_solution.csv')