In [4]:
import pandas as pd
import numpy as np
import scipy as sp
import warnings
warnings.filterwarnings('ignore')

In [5]:
main_data = pd.read_csv(r'week3_challenge.csv')
read_data = main_data.copy()

In [6]:
read_data.head()

,Unnamed: 0,createdAt_Month,Reason,application_id,SystemCustomerID,SystemLoanID,income_source,income_verified,next_loan_number,country,...,callFeatures_no_distinct_call_numbers_out,callFeatures_no_calls_over_zero_secs_out,callFeatures_no_calls_out,predictedIncome,installationId,obiResult_scorecard,obiResult_score,obiResult_riskLevel,obiResult_ratingClass,obiResult_ncngav2Id
0,0,201812,Client did not meet approval score.,WRYRieZlqBsT6w53b2HDpA_1544015103274,334043596,302881418623,credit,True,1,NG,...,139.0,287.0,655.0,105872.674499,374ac87639a74b3e01465993be618360,NC_NGA_V2,337.57000,Decline,NaN,a6e99ddb-2c95-4b1e-90cb-d05ffa9d1c9a
1,1,201809,Client did not meet approval score.,oVpQz7tgkPa3bmvVDzYqw_1530858694219,524284563,302328949395,credit,True,4,NG,...,327.0,1114.0,2923.0,34421.220891,e24749e856614a1ae3734c773670f74c,NaN,NaN,NaN,NaN,NaN
2,2,201810,Client did not meet approval score.,WCONqdL9BlaRetaDRERg_1538822524979,481582700,302536536368,credit,True,2,NG,...,139.0,583.0,1115.0,14447.944277,abe46a8fe9345c0b230c3fcaa5ddbbbc,NaN,NaN,NaN,NaN,NaN
3,3,201812,Client did not meet approval score.,Wi5dgyaoGQ9yciK89PEg_1544071630964,234330495,302887567434,credit,True,1,NG,...,46.0,38.0,108.0,52952.581832,cfe3f3006f8e9799e9d17859df394b18,NC_NGA_V2,394.94000,Decline,18a,da360fe9-8e86-4031-afb9-2143a3f734ee
4,4,201901,Client did not meet approval score.,16JgKGioSsWVaWdY7noC8A_1547701922961,563455515,303057983993,credit,True,2,NG,...,114.0,549.0,1474.0,31577.275467,7af8400ec773914c8d1fed044aa420b7,RC_NGA_V1L,423.70578,Decline,NaN,NaN

In [22]:
cut_off = read_data.shape[0]* 0.7

In [27]:
read_data = read_data.dropna(thresh = cut_off, axis = 1)

In [28]:
read_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11993 entries, 0 to 11992
Columns: 272 entries, Unnamed: 0 to installationId
dtypes: bool(1), float64(244), int64(5), object(22)
memory usage: 24.8+ MB

In [30]:
read_data.shape

(11993, 272)

In [31]:
number_of_missing_values = 290 - 272
print('number of columns with missing values:', number_of_missing_values)

number of columns with missing values: 18

In [32]:
# select columns with type float and int
new_dataframe = read_data.select_dtypes(include = [np.float64, np.int64])

In [34]:
new_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11993 entries, 0 to 11992
Columns: 249 entries, Unnamed: 0 to predictedIncome
dtypes: float64(244), int64(5)
memory usage: 22.8 MB

In [35]:
new_dataframe.head()

,Unnamed: 0,createdAt_Month,SystemCustomerID,SystemLoanID,next_loan_number,Income,__v,demofeatures_net_income_band,demofeatures_appweek,demofeatures_age_at_application_yrs,...,callFeatures_vol_calls_1_mnth_out,callFeatures_vol_calls_2_mnth_out,callFeatures_vol_calls_3_mnth_out,callFeatures_dur_calls_out,callFeatures_dur_calls_contacts_out,callFeatures_ratio_contacts_out,callFeatures_no_distinct_call_numbers_out,callFeatures_no_calls_over_zero_secs_out,callFeatures_no_calls_out,predictedIncome
0,0,201812,334043596,302881418623,1,200000.0,0.0,200000.0,1.0,28.0,...,655.0,0.0,0.0,48872.0,0.985554,0.929771,139.0,287.0,655.0,105872.674499
1,1,201809,524284563,302328949395,4,80000.0,0.0,100000.0,1.0,33.0,...,2923.0,0.0,0.0,65335.0,0.956868,0.917550,327.0,1114.0,2923.0,34421.220891
2,2,201810,481582700,302536536368,2,39500.0,0.0,50000.0,2.0,26.0,...,1115.0,0.0,0.0,98762.0,0.000000,0.000000,139.0,583.0,1115.0,14447.944277
3,3,201812,234330495,302887567434,1,50000.0,0.0,50000.0,1.0,36.0,...,58.0,50.0,0.0,1530.0,0.762092,0.777778,46.0,38.0,108.0,52952.581832
4,4,201901,563455515,303057983993,2,20000.0,0.0,75000.0,3.0,28.0,...,1474.0,0.0,0.0,29949.0,0.937828,0.938942,114.0,549.0,1474.0,31577.275467

In [36]:
frame = new_dataframe.replace(np.nan, 0)

In [37]:
list_value = []
for k in frame.columns:
    value = sum(frame[k].isnull())
    list_value.append(value)

In [38]:
list_value = []
for k in new_dataframe.columns:
    value = sum(new_dataframe[k].isnull())
    list_value.append(value)
print('we have: ',sum(list_value), 'missing values in our dataframe')

we have:  173632 missing values in our dataframe

In [39]:
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [40]:
standard_data = StandardScaler().fit_transform(frame)

In [41]:
to_frame = pd.DataFrame(data = standard_data, columns = frame.columns)

In [42]:
to_frame.head()

,Unnamed: 0,createdAt_Month,SystemCustomerID,SystemLoanID,next_loan_number,Income,__v,demofeatures_net_income_band,demofeatures_appweek,demofeatures_age_at_application_yrs,...,callFeatures_vol_calls_1_mnth_out,callFeatures_vol_calls_2_mnth_out,callFeatures_vol_calls_3_mnth_out,callFeatures_dur_calls_out,callFeatures_dur_calls_contacts_out,callFeatures_ratio_contacts_out,callFeatures_no_distinct_call_numbers_out,callFeatures_no_calls_over_zero_secs_out,callFeatures_no_calls_out,predictedIncome
0,-1.731906,-0.552327,-0.542589,0.488975,-0.389585,2.488673,0.0,0.964747,-1.243848,-0.222474,...,0.016726,-0.218086,-0.113863,0.075120,0.792418,0.703710,0.543044,0.004773,-0.006009,2.802797
1,-1.731618,-0.626734,0.114605,-1.045259,2.823083,0.541326,0.0,0.082888,-1.243848,0.443094,...,1.841329,-0.218086,-0.113863,0.127209,0.709694,0.667245,2.471878,1.408808,1.776958,-0.149962
2,-1.731329,-0.601932,-0.032910,-0.468779,0.681305,-0.115904,0.0,-0.358041,-0.386424,-0.488701,...,0.386796,-0.218086,-0.113863,0.232974,-2.049741,-2.070640,0.543044,0.507306,0.355615,-0.975365
3,-1.731040,-0.552327,-0.887051,0.506051,-0.389585,0.054489,0.0,-0.358041,-1.243848,0.842434,...,-0.463560,0.348488,-0.113863,-0.074673,0.147992,0.250177,-0.411114,-0.417965,-0.436028,0.615854
4,-1.730751,1.655065,0.249922,0.979306,0.681305,-0.432348,0.0,-0.137577,0.471001,-0.222474,...,0.675611,-0.218086,-0.113863,0.015246,0.654783,0.731075,0.286550,0.449582,0.637840,-0.267489

In [43]:
# create pca
pca = PCA(n_components=5)

In [44]:
# fit the data to the model
principalComponents = pca.fit_transform(to_frame)

In [45]:
# create dataframe containing principal components
cols = ['principal_component_1','principal_component_2','principal_component_3',
        'principal_component_4','principal_component_5']
principalDf = pd.DataFrame(data = principalComponents, columns =cols)

In [46]:
# display principal components
principalDf.head()

,principal_component_1,principal_component_2,principal_component_3,principal_component_4,principal_component_5
0,4.279458,-2.271278,0.755091,-1.591121,4.251057
1,13.517623,-3.686487,-2.144075,-0.885828,-0.208720
2,5.958359,-2.369066,0.090197,0.489621,0.275134
3,-1.822008,1.369439,-0.224597,3.310825,0.321025
4,2.691006,1.781517,0.573303,-2.890716,-0.830642

In [47]:
pca.explained_variance_ratio_

array([ 0.35007622,  0.09273704,  0.03771213,  0.03327798,  0.02723906])

In [48]:
pca.explained_variance_ratio_.sum()

0.54104242354180121

In [49]:
# import Kmeans module
from sklearn.cluster import KMeans

In [50]:
# declare a Kmeans instance with 3 classes
model = KMeans(n_clusters=3)

In [51]:
# fit data 
model.fit(principalComponents)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [52]:
np.unique(model.labels_)

array([0, 1, 2])

In [53]:
principalComponents[3, 0]

-1.822007504098605

In [ ]:
# plot based on cluster
def show_plot(num_1, num_2):
    for i in range(len(model.labels_)):
        if model.labels_[i] == 0:
            c1 = plt.scatter(principalComponents[i, num_1], principalComponents[i, num_2], c='r', marker='+')
        elif model.labels_[i] == 1:
            c2 = plt.scatter(principalComponents[i, num_1], principalComponents[i, num_2], c='g', marker='o')
        elif model.labels_[i] == 2:
            c3 = plt.scatter(principalComponents[i, num_1], principalComponents[i, num_2], c='b', marker='*')

    plt.legend([c1, c2, c3], ['Cluster 1', 'Cluster 2', 'Cluster3'])
    plt.title('There are 3 cluster in our data but we can only plot in 2 dimensions')
    savefig_name = 'plot of col', str(num_1), 'against col ', str(num_2)
    plt.show()
    
show_plot(0,1)

In [ ]:
show_plot(0,2)

In [ ]:
show_plot(0,3)

In [ ]:
show_plot(0,4)

In [ ]:
show_plot(0,4)

In [ ]:
show_plot(1,2)

In [ ]:
show_plot(1,3)

In [ ]:
show_plot(1,4)

In [ ]:
show_plot(2,3)

In [ ]:
show_plot(2,4)

In [ ]:
show_plot(3,4)

In [ ]:
target = model.labels_
target.shape

In [ ]:
to_frame['target'] = target

In [ ]:
to_frame.groupby('target', axis = 0).mean()